/* Item thumbnail */
.item_thumbnail {
    position: relative;
    padding-top: 65%;
    margin-bottom: var(--vertical-spacing);
}
.item_thumbnail .wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
}
.item_thumbnail .wrapper img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.item_thumbnail .wrapper img.portrait {
    object-fit: contain;
}


/* Item details */
.item_details {
    padding-right: var(--default-spacing);
}
.item_description,
.item_name {
    margin-top: calc(var(--default-spacing) / 2);
}

/* Grid */
.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: var(--default-spacing) var(--default-spacing);
    margin-top: var(--default-spacing);
}
.grid_section {
}

@media only screen and (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .grid_section {
        grid-column: span 2;
    }
}
@media only screen and (min-width: 1024px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
    .grid_section {
        grid-column: span 3;
    }
}
@media only screen and (min-width: 1280px) {
    .grid {
        grid-template-columns: repeat(4, 1fr);
    }
    .grid_section {
        grid-column: span 4;
    }
}
