section.view > .wrapper {
    display: flex;
    flex-direction: column-reverse;
    margin-top: calc(var(--default-spacing) / 2);
}
section.view .content {
    margin-top: var(--default-spacing);
}

@media only screen and (min-width: 768px) {
    section.view > .wrapper {
        flex-direction: row;
    }
    section.view .content {
        width: 50%;
        box-sizing: border-box;
        padding-right: var(--default-spacing);
        margin-top: 0;
    }
    section.view .content .text {
        margin-top: calc(var(--default-spacing) / 2);
    }
    section.view aside {
        width: 50%;
    }
}
