.medias {
    width: 100%;
}
.medias li .media_details {
    margin-top: calc(var(--default-spacing) / 2);
}
.medias img,
.medias video,
.medias audio {
    width: 100%;
}

.cover .medias .media .media_viewer,
.fited .medias .media .media_viewer {
    padding-top: 56.25%;
    position: relative;
}
.cover .medias img,
.cover .medias video,
.cover .medias audio,
.fited .medias img,
.fited .medias video,
.fited .medias audio {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cover .medias img.portrait,
.fited .medias img.portrait {
	object-fit: contain;
	background: #000;
}
.cover .medias audio,
.cover .medias video,
.fited .medias audio,
.fited .medias video {
    object-fit: contain;
    background: #000;
}