/* Vars */
:root {
    --default-font-size: 15px;
    --default-line-height: normal;
    --title-font-size: 20px;
    --title-line-height: normal;
    --title2-font-size: 24px;
    --title2-line-height: normal;
    
    --default-spacing: 15px;
    --vertical-spacing: 10px;
    --column-width: 25%;
    
    --grid-hgap: 20px;
    --grid-vgap: 20px;
}
@media only screen and (min-width: 768px) {
    :root {
    }
}
@media only screen and (min-width: 1024px) {
    :root {
    }
}