/* Layout */
body {
}
html.scroll-disabled,
body.scroll-disabled {
  overflow: hidden;
}
div#container {
    padding: 0 var(--default-spacing) var(--default-spacing) var(--default-spacing);
}
header#header {
    position: relative;
    left: calc(var(--default-spacing) * -1);
    width: 100vw;
    z-index: 100;
    position: relative;
    display: flex;
    padding: var(--default-spacing);
    box-sizing: border-box;
    align-items: center;
    background: #fff;
}
main#main {  
}
footer#footer {
}


/* Header & menu */
#header_mask {
    padding: var(--default-spacing);
}
#logo {
    flex-grow: 2;
}
#menu_button {
    cursor: pointer;
    width: 30px;
    height: 30px;
    background: url('../img/menu.svg') no-repeat;
    background-size: 100%;
}
#menu {
    position: absolute;
    z-index: 90;
    top: 0;
    left: 0;
    right: 0;
    transform: translateY(calc(-100%));
    transition: 0.5s;
    background: #fff;
    padding: var(--default-spacing);
    text-align: right;
}
body.menu_expanded #menu {
    transform: translateY(0);
    transition: 0.5s;
}
body.menu_expanded #menu_button {
    background: url('../img/close.svg') no-repeat;
    background-size: 100%;
}

/* Message */
.cpnt_message {
    position: fixed;
    z-index: 10000;
    top: var(--default-spacing);
    left: 50%;
    transform: translateX(-50%);
    background: #deae1e;
    color: #fff;
    padding: 20px;
    width: auto;
    text-align: center;
}
