.item.contribution {
    margin-bottom: var(--default-spacing);
}
@media only screen and (min-width: 768px) {
    .item.contribution.has_thumbnail > .wrapper {
        display: grid;
        grid-template-columns: 20% 80%;
        grid-gap: var(--default-spacing);
    }
}
