/* Vars */
:root {
    --default-font-size: 15px;
    --default-line-height: normal;
    --default2-font-size: 18px;
    --default2-line-height: normal;
    --title-font-size: 20px;
    --title-line-height: normal;
    --title2-font-size: 24px;
    --title2-line-height: normal;
    --default-spacing: 15px;
    --negative-default-spacing: -15px;
    --column-width: 25%;
    --column-width-alt: 33.33%;
}
@media only screen and (min-width: 768px) {
    :root {
    }
}
@media only screen and (min-width: 1024px) {
    :root {
    }
}

/* Layout */
body {
}
#logo {
}
#container {
}
#header {
}
#menu_button {
    position: absolute;
    z-index: 1000;
    top: var(--default-spacing);
    right: var(--default-spacing);
    cursor: pointer;
    width: 30px;
    height: 30px;
    background: url('../img/menu.svg') no-repeat;
    background-size: 100%;
}
#menu {
    position: absolute;
    z-index: 900;
    top: var(--default-spacing);
    left: 0;
    right: 0;
    transform: translateY(-100%);
    transition: 0.5s;
    text-align: center;
}
body.menu_expanded #menu {
    transform: translateY(0);
    transition: 0.5s;
}
body.menu_expanded #menu_button {
    background: url('../img/close.svg') no-repeat;
    background-size: 100%;
}
#content {
}
#footer {
}