{% extends "app/tpl/layout.html.twig" %}

{% block body %}
<section id="default" class="view">
    
    <div class="wrapper">
        <div class="content">
            <header>
                <h1 class="page_name">{{ page.name|raw }}</h1>
            </header>

            <div class="text">{{ page.html|raw }}</div>
        </div>
        
        <aside>
            {% if page.medias %}
            <ul class="medias slider">
                {% for media in page.medias %}
                {% include 'app/tpl/components/itemmedia.html.twig' %}
                {% endfor %}
            </ul>
            {% endif %}
        </aside>
    </div>
    
</section>

{% endblock %}
