{% extends "app/tpl/layout.html.twig" %}
{% block body %}
    
<section id="blocks" class="index">
    <header class="page_header">
        <h1 class="page_name">{{ page.name|raw }}</h1>
    </header>
    
    {% for block in blocks %}
    {% include "app/tpl/blocks/" ~ block.template ~ ".html.twig" %}
    {% endfor %}
</section>
{% endblock %}