{% extends "app/tpl/layout.html.twig" %}

{% block body %}
<section id="blocks">
{% for block in blocks %}
{% include "app/tpl/block/" ~ block.type ~ ".html.twig" %}
{% endfor %}
</section>
{% endblock %}