{% extends "app/tpl/layout.html.twig" %}

{% block body %}
<header class="page_header">
    <h1 class="page_name">Conditions d'utilisation</h1>
</header>

<section id="agreement" class="view">
    <div class="wrapper">
        <div class="view_content">
            <main>
                <div class="view_text text">{{ block.text|raw }}</div>

                <form id="agreement_form" method="GET" action="{{ path('app_page_action', {'locale': app.session.get('locale'), 'slug': page.slug, 'action':'agree'}) }}">
                    <fieldset>
                        <div class="form-group">
                            <div class="form_field">
                                <div class="form_check">
                                    <input type="checkbox" name="agreement" value="1" id="agreement_checkbox"> <label for="agreement_checkbox">J'accepte les conditions énoncées ci-dessus</label>
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <button class="submit" disabled="disabled" id="submit_agreement">Continuer</button>
                </form>
            </main>
            
            <aside></aside>
        </div>
    </div>
</section>
{% endblock %}
