{% extends "app/tpl/layout.html.twig" %}

{% block body %}
<section id="retrieve_password" class="view">
     <header>
        <h1 class="page_name">{{ page.name|raw }}</h1>
    </header>

    <div class="wrapper">
        <div class="content">
            <form name="retrieve_password" action="{{ path('app_page_action', {'locale':app.session.get('locale'), 'slug':page.slug, 'action':'retrievepassword'}) }}" method="post">
                <h2 class="form_name">Générer un nouveau mot de passe</h2>

                <fieldset>
                    <label class="required">Email</label>
                    <input type="email" name="email" required="required" />
                </fieldset>

                <button type="submit">Générer</button>
            </form>
        </div>
    </div>
    
</section>
{% endblock %}
