{% extends "app/tpl/layout.html.twig" %}

{% block body %}
    
 <header class="page_header">
    <h2 class="page_name">{{ page.name|raw }}</h2>
</header>
    
<section id="retrieve_password" class="form">

    <div class="form_content">
        
        <main>
            <form name="retrieve_password" action="{{ path('app_page_action', {'locale':app.session.get('locale'), 'slug':page.slug, 'action':'retrievepassword'}) }}" method="post">
                
                <header class="form_header">
                    <h2 class="form_name">Générer un nouveau mot de passe</h2>
                </header>
                
                <fieldset>
                    <div class="form-group">
                        <div class="form_field">
                            <label class="required">Email</label>
                            <input type="email" name="email" required="required" />
                        </div>
                    </div>
                </fieldset>

                <button type="submit">Générer</button>
            </form>
        </main>
        
        <aside></aside>
    </div>
    
</section>
{% endblock %}
