{% trans_default_domain 'app' %}
{% set ajax = true %}
    
<header class="page_header">
    <h2 class="page_name">
        <a href="{{ path('app_page', {'locale': app.session.get('locale'), 'slug': page.slug }) }}">{{ page.name|raw }}</a>
    </h2>
    {% include "app/tpl/components/viewnav.html.twig" %}
</header>

<section id="event" class="view">
    <header class="view_header">
        <h2 class="view_name">{{ event.name|raw }}</h2>
        
        {% include 'app/tpl/events/infos.html.twig' %}
        {% include 'app/tpl/events/buttons.html.twig' %}
    </header>
    
    <div class="view_content">
        <main>
            <div class="view_text text">{{ event.description|raw }}</div>
        </main>
        
        <aside>
        	{% if event.medias %}
		    <ul class="view_medias medias slider">
		    {% for media in event.medias %}
		        {% include 'app/tpl/components/itemmedia.html.twig' %}
		    {% endfor %}
		    </ul>
		    {% endif %}
		</aside>
    </div>
</section>
